<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PokemonGo.Program.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <PokemonGo.Program.UserSettings>
            <setting name="AuthType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultAltitude" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DefaultLatitude" serializeAs="String">
                <value>-33.870994579009967</value>
            </setting>
            <setting name="DefaultLongitude" serializeAs="String">
                <value>151.21185064315796</value>
            </setting>
            <setting name="GoogleUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="GooglePassword" serializeAs="String">
                <value />
            </setting>
            <setting name="GoogleRefreshToken" serializeAs="String">
                <value />
            </setting>
            <setting name="PtcUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="PtcPassword" serializeAs="String">
                <value />
            </setting>
        </PokemonGo.Program.UserSettings>
    </userSettings>
</configuration>